<ion-view view-title="Wisata">
  <ion-content class="padding bg-img">
  <br>
<button class="button button-block button-outline button-balanced" ui-sref="app.search">WISATA ALAM</button>
<button class="button button-block button-outline button-balanced" ui-sref="app.search1">WISATA LAUT</button>
<button class="button button-block button-outline button-balanced" ui-sref="app.search2">WISATA BUATAN</button>
<button class="button button-block button-outline button-balanced" ui-sref="app.search3">WISATA RELIGI</button>
<button class="button button-block button-outline button-balanced" ui-sref="app.search4">WISATA KOTA</button>
<button class="button button-block button-outline button-balanced" ui-sref="app.search5">WISATA SEJARAH</button>

</ion-content>
</ion-view>
